.llama

# Don't track the RAG data and model from the rag-content image
embeddings_model
vector_db

rag-content 
values.env
*.local.yaml

.venv

node_modules

# Generated GitOps manifests (created by scripts/generate-gitops-manifests.sh)
generated/

.qodo